.container{
	text-align: center;
}
.contacts_contanier{
	background: pink;
	padding: 10px;
	margin-bottom: 10px;
}
.addContacts{
	text-align: center;
}
input{
	border: 2px solid orange;
	border-radius: 2px;
	margin: 10px;
	cursor: pointer;
}

button{
	background: orange;
	border-radius: 10px;
}